*{
  box-sizing: border-box;
}
.common-wrapper {
    height: calc(100vh - 120px);
    .common-content {
    margin: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fafafa;
  }
}
